<h1 class="tittle"> {{operacion}} Mascota </h1>
<app-spinner *ngIf="loading"></app-spinner>
<div class="container">
    <mat-card class="card">
        
            <mat-card-subtitle>
                Datos de la mascota
            </mat-card-subtitle>
            <form [formGroup]="form" (ngSubmit)="guardarFormulario()">

                <mat-grid-list cols="2" rowHeight="100px">
                    <mat-grid-tile [colspan]="2">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input formControlName="nombre" matInput autocomplete="off">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="outline">
                            <mat-label>Raza</mat-label>
                            <input formControlName="raza" matInput autocomplete="off">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="outline">
                            <mat-label>Color</mat-label>
                            <input formControlName="color" matInput autocomplete="off">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="outline">
                            <mat-label>Edad</mat-label>
                            <input type="number" formControlName="edad" matInput autocomplete="off">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="outline">
                            <mat-label>Peso</mat-label>
                            <input type="number" formControlName="peso" matInput autocomplete="off">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2">
                        <button class="btnAceptar" [disabled]="form.invalid" mat-raised-button color="primary" type="submit">Aceptar</button>
                        <button routerLink="/listadoMascota" mat-raised-button>Volver</button>
                        
                    </mat-grid-tile>
                </mat-grid-list>

            </form>
            

        
        
    </mat-card>
</div>