/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.tittle{
    background-color: gray;
    color: white;
    text-align: center;
    padding: 30px;
    margin-bottom: 0px !important;
}

.container{
    margin: 0 20%;
    margin-top: 16px;
  }


